body {
  background-image: url("https://unsplash.com/photos/grmBNY2uOMc")
  

h1 {
  color: purple;
  font-family: Helvetica;
  Background: gray;
  font-size: 100px
}
  
 p {
   color: white;
   font-family: Helvetica;
  }
